.wrapper{
    display: flex;
    justify-content: center;
}

.color {
    /* z-index: -1; */
    /* background-color: green; */
}

.sock{
    
    background-image: url(../img/socks.png);
    width: 600px;
    height: 600px;
    background-size: contain; 
}

.design{

    /* background-image: url(../img/design/3.png); */
    background-size:100%; 
}
.img{
    position: relative;
    background-size:6rem; 
    top: 125px;
    left: 290px;
    width: 100px;
    height: 100px;
    /* background-image: url(../img/customImg/yodu.png); */
}

.logo{
    width: 100px;
    margin-right: 20px;
}

.nav-item{
    font-size: 25px;
}
.navbar-brand{
    font-size: 30px;
}

.btn-custom{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    width: 150px;
    height: 40px;

}
.btn-custom:hover{
    background-color: #1276e0;
}

.btn-custo:active {
    background-color: #3c0080;
  }

  .knopka{
    background-color: #007bff;
    padding: 0px;
    margin: 40px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 10px;
    height: 40px;
    margin: 10px;
  }
  .knopka:hover{
    background-color: #1276e0;
}

.knopka:active {
    background-color: #3c0080;
  }


 /* Senik footer */
.footer{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(white, rgb(102, 144, 178));
}
.title{
    font-weight: 600;
    margin-left: 150px;
}
.footer_item{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 27px;
    line-height: 60px;
}
.footer_value{
    margin-right: 150px;
}
.footer_name{
    margin-left: 150px;
}
.map{
    margin-right: 200px;
}
.ymap{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}
.team_name{
    background-color: rgb(102, 144, 178);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}
